.c-sub {
  // margin-left: 190px;
  padding: 54px 20px 0;
  margin: 0 auto;
  max-width: 1120px;

  @media (max-width: 1023px) {
    padding: 54px 28px 0;
  }
}

.c-sub__left {
  margin-right: 68px;
  float: left;
  max-width: 350px;
  width: 100%;

  @media (max-width: 1023px) {
    margin: 0 auto;
    float: none;
  }
}

.c-sub__section {
  width: 100%;
  margin-bottom: 65px;

  @media (max-width: 1023px) {
    text-align: center;
  }
}

.c-sub__sectionHR {
  display: none;
  @media (max-width: 1023px) {
    display: block;
    color: $light-gray;
    height: 1px;
    width: 100%;
    margin-bottom: 60px;
  }
}

.c-sub__sectionTitle {
  font-weight: 400;
  font-size: 19px;
  line-height: 29px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 20px;
  padding: 0;
  border: none;
  text-align: left;

  svg {
    display: none;
  }

  @media (max-width: 1023px) {
    text-align: center;

    &.opens-section-on-mobile {
      cursor: pointer;
    }

    &.is-open-title {
      svg {
        transform: rotate(270deg);
      }
    }

    svg {
      display: inline-block;
      width: 14px;
      height: 14px;
      transform: rotate(90deg);
    }
  }
}

.c-sub__sectionInner {
  border: 1px solid $light-gray;

  hr {
    display: block;
    width: calc(100% - 60px);
    margin: 0 auto;
  }

  @media (max-width: 1023px) {
    text-align: left;

    &.c-sub__sectionInner--closedMobile {
      display: none;

      &.is-open-mobile {
        display: block;
      }
    }
  }
}

.c-sub__block {
  padding: 28px 30px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  @media (max-width: 1023px) {
    padding: 20px;
  }

  svg {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
  }
}

.c-sub__blockSection {
  span {
    &.u-text-large {
      line-height: 1 !important;
    }
  }

  span {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0;
    display: block;
    color: #000;

    &.is-inline {
      display: inline-block;
    }

    &.c-sub__blockSectionLabel {
      font-weight: 700;
      font-size: 13px;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 17px;
      text-align: left;
    }
  }
  &.c-sub__blockSection--address {
    span:not(.c-sub__blockSectionLabel) {
      line-height: 19px;
    }
  }

  .c-sub__card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;

    img {
      width: 30px;
      margin-right: 10px;
    }

    span {
      display: inline-block;
      margin-bottom: 0;
      line-height: 1;

      &:first-of-type {
        margin-right: 5px;
      }
    }
  }
}

.c-sub__sectionButton {
  margin-top: 54px;
  justify-content: flex-start;

  a {
    color: #fff;
  }

  @media (max-width: 1023px) {
    justify-content: center;
    margin-top: 30px;
  }
}

.c-sub__lineItems {
  // padding: 40px 0;
  // border-top: 1px solid #737373;
  // border-bottom: 1px solid #737373;
  // width: calc(100% - 60px);
  // margin: 0 auto;
  width: 100%;
}

.c-sub__lineItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid $light-gray;
  padding: 20px 0;
  position: relative;

  &:last-of-type {
    border-bottom: none;
  }

  .c-sub__lineItemImageImageBox {
    max-width: 50px;
    margin-right: 10px;

    img {
      display: block;
      max-width: 100px;
      width: 100%;
    }
  }

  p {
    max-width: 70%;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0px;
    margin: 0;
  }

  span {
    &.is-faded {
      opacity: 0.25;
    }
  }

  svg {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.c-sub__undoSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .c-rDrawer__updateMessage {
    margin: 0 auto 18px;
  }

  .c-sub__sectionButton {
    margin: 0;
  }
}

.c-sub__right {
  float: left;
  width: 100%;
  max-width: calc(100% - 420px);

  @media (max-width: 1023px) {
    float: none;
    width: 100%;
    max-width: none;
  }

  .c-sub__sectionTitle {
    margin-left: 16px;
  }
}

.c-subProductGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5%;
  grid-row-gap: 40px;
  margin-bottom: 92px;

  @media (max-width: 1023px) {
    max-width: 800px;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }
}

.c-sub__browseAll {
  margin: 0 0 100px;
  justify-content: center;

  @media (max-width: 1023px) {
    margin: 30px 0 70px;
  }
}

.c-sub__initialMessage__error {
  font-size: 18px;
  line-height: 35px;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
  text-transform: none;
  margin-bottom: 60px;
}
