/*================ Page Component ================*/

.t-page {
  padding-top: 34px;
  padding-bottom: 50px;
}
.c-page__title {
  margin-bottom: 44px;
}
.c-page__content p,
.c-page__content h4 {
  font-size: 14px;
  line-height: 28px;
}
.t-page ul {
  list-style-type: disc;
}
@media (--tablet) {
  .c-page__content p,
  .c-page__content h4 {
    font-size: 18px;
    line-height: 35px;
  }
}
