// Colors
$primary-color: #dc143c;
$secondary-color: #444444;
$white: #ffffff;
$light-gray: #dddddd;
$off-white: #f9f9f9;
$disabled-color: #e0e0e0;
$dark-text: #494c50;
$header-background-color: #f2f2f2;

// Fonts
$primary-font: 'brandon-grotesque', sans-serif;
$secondary-font: 'Open Sans', sans-serif;