.c-vP__content {
  display: none !important;
}

.vue-block-content {
  flex: 1;
  display: block !important;
  background-color: #f7f7f7;
  padding: 40px 0 80px;
  margin: 0 auto;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.h4 {
  width: 100%;
  margin-bottom: 20px;
  font-family: "Circular Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.46;
  color: #002856;
  font-weight: normal;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0;
}

.card-wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#customer-card-form {
  width: 100%;
  height: 450px;
  max-width: 300px;
}

.rc_form__label {
  display: none;
}

.rc_form__input {
  appearance: none;
  width: 100%;
  padding: 10px 12px 8px;
  border: 1px solid rgba(0, 40, 86, 0.5);
  background-color: white;
  color: #002856;
  font-family: "AvenirNext", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  transition: all 0.3s ease;
  border-radius: 4px;
  margin-bottom: 20px;
}

.rc_form__input:focus {
  outline: none;
  box-shadow: none !important;
  border: 1px solid rgba(0, 40, 86, 0.85);
}

.rc_button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px auto;
  padding: 5px 30px;
  outline: none;
  border: none;
  border-radius: 25px;
  user-select: none;
  background-color: #55ae47;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: normal;
  transition: all 0.15s ease-in-out;
}

.rc_button:hover {
  background-color: #3ea02f;
  cursor: pointer;
  opacity: 1;
}
.rc_button:focus {
  outline: none;
}
