/*================ Buttons ================*/

.c-buttonReset {
  border: none;
  outline: none;
  font: inherit;
  &:hover {
    cursor: pointer;
  }
}

.c-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $red;
  padding: 5px 20px;
  outline: none;
  border: none;
  border-radius: 3px;
  user-select: none;
  color: $white;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: normal;
  transition: all 0.15s ease-in-out;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
  &:focus {
    outline: none;
  }
}

.c-button--secondary {
  background-color: $gray-text;
  padding: 5px 30px;
}

.c-button--large {
  width: 100%;
  border-radius: 27.5px;
  padding: 13px 20px;
  line-height: 1.88;
}

.c-button--block {
  width: 100%;
}

.c-button--green {
  background-color: $color-green;
  &:hover {
    background-color: #006d4f;
  }
}

.c-button--greenLight {
  background-color: $color-greenLight;
  &:hover {
    background-color: #3ea02f;
  }
}

.c-button--greenLight {
  background-color: $color-greenLight;
}

.c-button--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.c-button--blue {
  background-color: #1c487a;
  &:hover {
    background-color: #00326b;
  }
}
