/* ============ Hide =============== */
.u-hide {
    display: none !important;
}

.u-hideVisually {
    @util hide-visually;
}

.u-reset {
    padding: 0;
    margin: 0;
}

.u-borderNone {
    border: none;
}

.u-hideTabletLargeDown {
    @media (--tablet-large-max) {
        display: none;
    }
}

.u-showMobileLargeUp {
    display: none;
    @media (--mobile) {
        display: block;
    }
}

.u-hideMobileLargeUp {
    display: block;
    @media (--mobile) {
        display: none;
    }
}

.u-hideMobileMaxDown {
    @media (--mobile-max) {
        display: none;
    }
}

.u-hideTabletUp {
    display: block;

    @media (--tablet) {
        display: none;
    }
}

.u-hideTabletLargeUp {
    display: block;

    @media (--tablet-large) {
        display: none;
    }
}

.u-hideDesktopUp {
    display: block;

    @media (--desktop) {
        display: none;
    }
}

.u-showTabletLargeUp {
    display: none;
    @media (--tablet-large) {
        display: block;
    }
}

.u-showTabletUp {
    display: none;

    @media (--tablet) {
        display: block;
    }
}

.u-showTabletLargeDown {
    display: block;

    @media (--tablet-large) {
        display: none;
    }
}

.u-showTabletLargeDown {
    display: block;

    @media (--tablet-large) {
        display: none;
    }
}

.u-showDesktopUp {
    display: none;

    @media (--desktop) {
        display: block;
    }
}

.u-showDesktopUpInline {
    display: none;

    @media (--tablet-large) {
        display: inline;
    }
}

.u-showDesktopDown {
    display: none;
    @media (--desktop-max) {
        display: block;
    }
}

.u-showTabletUpDesktopDown {
    display: none;
    @media (--tablet) {
        display: block;
    }
    @media (--tablet-large) {
        display: none;
    }
}
