/*================ Colors ================*/

$color-white: #fff;
$color-black: #000;
$color-primary: #002856;
$color-gray: #f7f7f7;
$color-green: #00966c;
$color-greenLight: #55ae47;
$color-beige: #f4ede6;
$color-border-gray: #e6e6e6;
