/*================ List Element ================*/

/*===  Prevents Style Leaking ===*/
.vp {
  ul {
    margin: 20px 0;
  }

  li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 25px;
    font-size: 15px;
    @media (--tablet) {
      font-size: 18px;
    }
  }
}
