.c-rDrawerEditFrequency__frequencyOptionsContainer {
  margin-top: 30px;
  display: grid;
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.c-rDrawerEditFrequency__option {
  border-radius: 10px;
  border: 3px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 12px;
  margin-bottom: 0;
  text-transform: uppercase;
  cursor: pointer;

  font-size: 17px;
  line-height: 29px;
  letter-spacing: 2px;

  &:hover {
    border-color: #7fc464;
  }

  &.is-active {
    border-color: #7fc464;

    .c-rDrawerEditFrequency__optionCheck {
      display: block;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    svg {
      width: 13px;
      fill: white;
      margin-left: -1px;
      margin-bottom: -1px;
    }
  }

  &.c-rDrawerEditFrequency__option--subscription {
    position: relative;
  }
}

.c-rDrawerEditFrequency__optionCheck {
  display: none;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: -2px;
  background-color: #7fc464;
  border-radius: 100px;
  color: #fff;
  width: 24px;
  height: 24px;
}

.c-rDrawer__updateMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}

.c-rDrawer__updateMessageText {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;

  &.c-rDrawer__updateMessageText--success {
    color: #7fc464;
  }
}

.c-rDrawer__updateMessageIcon--save {
  background-color: #7fc464;
  border-radius: 100px;
  color: #fff;
  width: 24px;
  height: 24px;

  svg {
    width: 13px;
    fill: #fff;
    margin-left: -1px;
    margin-bottom: -1px;
  }
}
