.c-rDrawerEditShipDate {
  padding: 0 14px;

  .c-rDrawer__updateMessage {
    margin: 22px auto 38px;
  }

  .c-rDrawer__title--nextShipment {
    margin-top: 20px;
    margin-bottom: 6px;
  }

  .c-rDrawer__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;

    &.c-rDrawer__text--red {
      color: $primary-color;
    }

    &.c-rDrawer__text--med {
      font-size: 16px;
      line-height: 25px;
      margin-bottom: 6px;
    }
  }
}

.pika-single {
  z-index: 9999;
  display: block;
  position: relative;
  color: #333;
  background: #fff;
  border-bottom-color: #bbb;
  font-family: $primary-font;
  border: none;
  box-shadow: 0 4px 20px -4px rgba(0, 0, 0, 0.125);
  margin-bottom: 20px;
}

.pika-single.is-hidden {
  display: none;
}

.pika-single.is-bound {
  position: absolute;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
}

.pika-lendar {
  width: 240px;
  padding: 1em;
}

.pika-title {
  position: relative;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 15px;
}

.pika-label {
  display: inline-block;
  *display: inline;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: 5px 3px;
  line-height: 20px;
  background-color: #fff;

  font-size: 19px;

  font-weight: 400;
  letter-spacing: 0;
}
.pika-title select {
  cursor: pointer;
  position: absolute;
  z-index: 9998;
  margin: 0;
  left: 0;
  top: 5px;
  filter: alpha(opacity=0);
  opacity: 0;
}

.pika-prev,
.pika-next {
  display: block;
  cursor: pointer;
  position: relative;
  outline: none;
  border: 0;
  padding: 0;
  width: 20px;
  height: 30px;
  /* hide text using text-indent trick, using width value (it's enough) */
  text-indent: 20px;
  white-space: nowrap;
  overflow: hidden;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  opacity: 0.5;
  *position: absolute;
  *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
  background-color: #fff;
  opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
  float: left;
  background-image: url('data:image/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
  *left: 0;
  margin-left: 18px;
}

.pika-next,
.is-rtl .pika-prev {
  float: right;
  background-image: url('data:image/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
  *right: 0;
  margin-right: 18px;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
  cursor: default;
  opacity: 0.2;
}

.pika-select {
  display: inline-block;
  *display: inline;
}

.pika-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  margin: 0;
}

.pika-table th,
.pika-table td {
  width: 14.285714285714286%;
  padding: 0;
  border: none;
  border-left: none !important;
}

.pika-table th {
  color: #000;
  font-size: 13px;
  line-height: 25px;
  font-weight: bold;
  text-align: center;
  border-right: none;
  background: none;

  font-weight: 400;
  opacity: 0.5;
  cursor: default;
  text-decoration: none;
}

.pika-button {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  border: 0;
  margin: 0;
  width: 100%;
  padding: 7px;
  background: #fff;
  border-radius: 50%;
  color: black;

  font-size: 16px;
  line-height: 19px;
  text-align: center;
  font-weight: 400;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  &:hover {
    color: #ffffff;
    opacity: 0.7;
    background: $primary-color;
  }
}

.pika-week {
  font-size: 11px;
  color: #999;
}

.is-today .pika-button {
  color: #33aaff;
  font-weight: bold;
}

.is-selected .pika-button,
.has-event .pika-button {
  color: #fff !important;
  font-weight: bold;
  background: $primary-color;
  border-radius: 50%;

  .pikaday-hideaway & {
    background: #fff;
    font-weight: normal;
    color: #000;
  }
}

.is-startrange .pika-button {
  color: #fff;
  background: #6cb31d;
  box-shadow: none;
  border-radius: 3px;
}

.is-endrange .pika-button {
  color: #fff;
  background: #33aaff;
  box-shadow: none;
  border-radius: 3px;
}

.is-disabled .pika-button {
  pointer-events: none;
  cursor: default;
  color: #999;
  opacity: 0.3;
}

.is-outside-current-month .pika-button {
  color: rgb(130, 130, 130);
  opacity: 0.3;
}

.is-selection-disabled {
  pointer-events: none;
  cursor: default;
}

.pika-table abbr {
  border-bottom: none;
  text-decoration: none;
  cursor: default;
}

.pika-table tr {
  border: none;

  &:first-child {
    border: none;
  }
}

.pika-title .pika-label:nth-of-type(2) {
  display: none;
}

.pika-lendar {
  width: auto;
}
