.c-rHeader {
  background: $header-background-color;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}
// on mobile
.c-rBackToAccount {
  width: calc(100% + 60px);
  text-align: center;
  margin-left: -30px;
  margin-right: -30px;
  border-bottom: 1px solid $light-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 27px 0 24px;

  span {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 2px;
    transition: color 0.3s ease;
  }

  svg {
    margin-right: 12px;
    margin-bottom: 5px;

    .svg-color {
      fill: #000;
    }
  }
}

.c-rHeader__inner {
  &--desktop {
    display: none;

    @media (min-width: 1024px) {
      max-width: 1100px;
      display: flex;
      padding: 3em 1.618em;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &--mobile {
    display: flex;
    flex-direction: column;
    padding: 2px 30px 16px;

    @media (min-width: 1024px) {
      display: none;
    }
  }
}

.c-rHeaderExpand {
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  // margin-left: -30px;
  // margin-right: -30px;
  // width: calc(100% + 60px);
  padding: 26px 0 12px;
  max-width: 400px;
  border-bottom: none;
  cursor: pointer;
  margin: 0 auto;

  &.is-open {
    border-bottom: 1px solid $light-gray;
    padding-bottom: 26px;

    svg {
      transform: rotate(270deg);
    }
  }

  span {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 1;
  }

  svg {
    margin-bottom: 3px;
    margin-left: 10px;
    width: 14px;
    height: 14px;
    transform: rotate(90deg);
  }
}

.c-rHeaderNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 818px;

  @media (max-width: 1023px) {
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
  }
}

.c-rHeaderNav__item {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 2px;
  transition: color 0.3s ease;
  width: auto;
  white-space: nowrap;
  text-align: center;
  color: #000;

  @media (max-width: 1023px) {
    width: 100%;
    padding: 18px 0 14px;
    text-align: center;
    border-bottom: 1px solid $light-gray;
  }

  svg .svg-color {
    transition: all 0.3s ease;
    fill: #000;
  }

  &.router-link-active,
  &:hover,
  &:active,
  &:focus {
    color: $primary-color;

    svg .svg-color {
      fill: $primary-color;
    }
  }
}

.c-rHeaderNav__button {
  display: block;
  color: #fff;

  @media (max-width: 1023px) {
    margin-top: 21px;
    margin-bottom: 20px;
  }

  svg {
    fill: #fff;
    width: 10px;
    height: 10px;
    margin-left: 7px;
    margin-bottom: 1px;
    transition: all 0.3s ease;
    transform: rotate(0);
    transform-origin: none;
  }
}
