.c-order {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 36px;
  border: 1px solid $light-gray;
}

.c-rOrderHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 30px;
  cursor: pointer;

  @media (max-width: 1023px) {
    height: 50px;
    padding: 3px 20px 0;
  }

  span {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 1px;
    color: #000;
  }

  svg {
    width: 16px;
    height: 16px;
    transform: rotate(90deg);
  }

  &.is-open svg {
    transform: rotate(270deg);
  }
}

.c-rOrderMain__info {
  padding: 27px 28px 13px;

  @media (max-width: 1023px) {
    padding: 50px 22px 18px;
  }

  span {
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 1px;
    margin-bottom: 13px;

    @media (max-width: 1023px) {
      font-weight: 700;
    }

    &.u-font-bold {
      font-weight: 700;
    }
  }
}

.c-rOrderMain__lineItems {
  padding: 40px 0;
  border-top: 1px solid #737373;
  border-bottom: 1px solid #737373;
  width: calc(100% - 60px);
  margin: 0 auto;

  @media (max-width: 1023px) {
    border-bottom: none;
    width: calc(100% - 40px);
  }
}

.c-rOrderMain__lineItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1023px) {
    flex-direction: column;
  }

  .c-rOrderMain__itemItemImageBox {
    margin-right: 10px;
    width: 60px;

    @media (max-width: 1023px) {
      margin-right: 20px;
      width: 64px;
      min-width: 64px;
    }

    img {
      display: block;
      max-width: 100px;
      width: 100%;
    }
  }

  .c-rOrderMain__topItemWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1023px) {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .c-rOrderMain__lineItemContentBox {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1023px) {
      flex-direction: column;
    }
  }

  p {
    max-width: 50%;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0px;
    margin: 0;

    @media (max-width: 1023px) {
      width: auto;
      max-width: none;
    }
  }

  .c-rOrderMain__itemItemPricingBox {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 1024px) {
      flex: 1;
      justify-content: space-between;
      max-width: 210px;
    }

    &--desktop {
      display: none;

      @media (min-width: 1024px) {
        display: flex;
      }
    }

    &--mobile {
      width: 210px;
      margin-top: 18px;
      margin-right: 0;
      align-self: flex-end;
      display: flex;
      justify-content: space-between;
      @media (min-width: 1024px) {
        display: none;
        margin-top: 8px;
      }
    }
  }

  span {
    letter-spacing: 2px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;

    &.is-faded {
      opacity: 0.25;
    }
  }
}

.c-rOrderMain__pricingSection {
  padding: 50px 30px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

  @media (max-width: 1023px) {
    padding: 16px 20px 6px;
  }
}

.c-rOrderMain__pricing {
  width: 100%;
  max-width: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;

  span {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 1px;
  }
}
