{% layout 'theme.bootstrap.landing-page' %}



<div class="header-logo">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <img src="https://cdn.shopify.com/s/files/1/0924/9540/t/5/assets/logo.png?6101563503781420941" >
      </div>
    </div>
</div>

<div class="thanksgiving-collection">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 text-center">
          <h1 class="center">{{ collection.title }}</h1>
          <div class="feature_divider"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p>We all know the most important ingredient for a perfect Thanksgiving Celebration! And no, it’s not turkey or pumpkin pie.</p>
        <br />

        <p>It’s <span class="bold">love</span>. </p>
        <br />
        <p>Love makes Thanksgiving beautiful, and wine elevates the spirit of love.</p>
        <br />
        <p>That’s why, for the first time in the history of Dry Farm Wines, we’re excited to <span class="bold">introduce 3 specialty, one-time wine offerings</span> that will perfectly complement your Thanksgiving Holidays. Each will pour deeper expressions of love on your already kindling Thanksgiving fire.</p>
        <br />
        <p>Each wine is certified natural and crafted delicately by an artisan winemaker. No additives or industrial practices were used to produce these wines. And each has been independently lab tested to ensure they are sugar-free, carb-free, gluten-free, low alcohol, and low in sulfites.</p>
        <br />
        <p>We’re so grateful and honored to share these beautiful natural wines with you.</p>

      </div>
    </div>
    
   <div class="feature_divider"></div>

    <div class="row">
      
      <div class="col-md-4">
        <h3>Thanksgiving Specialty Box</h3>
        <a href="https://www.dryfarmwines.com/products/thanksgiving-dinner-box">
          <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/IMG_6629.jpg?10771375653832545353">
        </a>
        <br />
        <p>Curated assortments of the perfect wines to pair with your Thanksgiving meal! We’ve scoured the world to find the most versatile and expressive varietals, and our team has hand-picked the best of them for your enjoyment.</p>
        <br />
        <p>These beautiful hand crafted assortments have two varieties of beautiful red wines and one elegant white. Choose either a box of 6 or 12 bottles as a one-time purchase (not a subscription).</p>
        <br />
        <div class="text-center">
          <a href="https://www.dryfarmwines.com/products/thanksgiving-dinner-box">
	        <button class="action_button">Buy The Thanksgiving Box!</button>
          </a>
        </div>
      </div>
      
      <div class="col-md-4">
        <h3>Sparkling Wines</h3>
        <a href="https://www.dryfarmwines.com/products/sparkling-wines">
          <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/IMG_0360.JPG?17016082794344841231">
        </a>
        <br />
        <p>Sparkling wines are here to celebrate the holidays!</p>
 		<br />
        <p>It took months to find the perfect vintages and varietals that both tasted amazing and met our strict health standards, but these three bottles passed with sparkling colors.</p>
 		<br />
<!--         <p>The Manoir de la Tete Rouge Cremant is such an elegant sparkling wine that we fell in love at first taste. When the lab results came back showing no sugar, only 28 ppm sulfites, and 11.94% alcohol, we poured ourselves a glass and clinked to our first ever sparkling wine.</p>
 		<br />
        <p>The next wine is a Val di Spin from Vignale di Cecilia. With a delightful nose, great acid balance on the palate, and a beautiful cloudy color, this wine is absolutely splendid. With only 6,000 bottles produced in the world, we're excited to have this wine available to offer!</p>
 		<br />
        <p>Finally, the "Triple Zero" by Jackie Blot is an unfiltered, natural sparkling wine with bright acidity, notes of dried stonefruit, and soft citrus and pear flavors. It's a wonderful complement to the other bottles in the box.</p>
 		<br /> -->
        <p>There's no better way to celebrate this wonderful time of gratitude than to raise a glass of crisply delicious bubbly.</p>
        <br />
        <div class="text-center">
          <a href="https://www.dryfarmwines.com/products/sparkling-wines">
	        <button class="action_button">Buy Sparkling Wines!</button>
          </a>
        </div>
      </div>
      
      <div class="col-md-4">
        <h3>Magnum Bottle</h3>
        <a href="https://www.dryfarmwines.com/products/magnum-bottle">
          <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/IMG_0342.JPG?17016082794344841231">
        </a>
        <br />
        <p>For the first time ever, we’re excited to introduce magnum bottles! A magnum is two standard 750ml bottles in one large bottle. </p>
 		<br />
		<p>We've searched far and wide for the perfect magnum bottle to complement your Thanksgiving dinner. Happy to say, we found it - The 2013 Anne-Sophie Dubois Paso Doble Gamay </p>
 		<br />	
<!-- 		<p>The 2013 Anne-Sophie Dubois Paso Doble Gamay is an elegant expression of gratitude in a glass. With a light, fruity nose and beautiful depth on the palate, this wine will elevate the flavor of your meal while also elevating the spirit of love at your table.</p>
 		<br />
		<p>With less than 0.1 g/L of residual sugar and only 13 ppm of sulfites, this is also one of the cleanest wines we've ever lab tested.</p>
 		<br /> -->
		<p>Cheers to a healthier Thanksgiving!</p>
        <br />
        <div class="text-center">
          <a href="https://www.dryfarmwines.com/products/magnum-bottle">
	        <button class="action_button">Buy The Magnum!</button>
          </a>
        </div>
      </div>
      

    </div>
    


  </div>
  
  
  
  
</div>

