{% layout 'theme.bootstrap.landing-page' %}

<div class="header-logo">
	<div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <img src="https://cdn.shopify.com/s/files/1/0924/9540/t/5/assets/logo.png?6101563503781420941" >
      </div>
      <div class="col-sm-2 col-sm-offset-2">
        <a href="#cart" class="icon-cart right" style="padding:20px 40px;"><span>{{ cart.item_count }}</span></a>
      </div>
    </div>
</div>
        


<div class="main-product-section">
  <div class="container">
    
    
    <div class="row">
      <div class="col-xs-12">

        <div class="row">
          <div class="col-md-6 col-sm-12 text-center">
            <img style="border: 1px solid black;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/bold-wine.png?5799354014803802674" />
            <div class="text-center">
              <p style="margin-top:10px;"><i>* No subscription required. This is a one-time purchase. *</i></p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="main-product" id="main-product-id">
              <h3>High Alcohol, Bold Wines!</h3>
               <div class="description" itemprop="description">
                 <p>For the first time in Dry Farm Wines history, we’re SO proud to offer a hand-curated box of high alcohol, BOLD wines!!</p>
				 <br />
                 <p>These wines promise to elevate your health, happiness, and pleasure to a level beyond anything you've experienced with our wines before. If you appreciate the taste of world-class wine, the deep connections formed when sharing a bottle, and the elevated state that comes from drinking a few glasses, this is for you! </p>
				 <br />
                 <p>With this new assortment of high alcohol bold wines, you get incredible benefits without most of the usual side effects. </p>
				 <br />
                 <p>Read below to learn more about these wines!</p>
				 <br />
               </div>
              
              <div class="row">
                <div class="col-xs-6">
                  <span class="current_price">$199</span>
                </div>
                <div class="col-xs-6">
                  <a href="https://www.dryfarmwines.com/pages/april-fools" class="action_button add_to_cart" style="float: none; margin-top: 10px;">Buy Now</a>
                </div>
              </div>
              
              <div class="row text-center">
                <div class="col-xs-12">
                  <p class="buy-or-gift">Buy for Yourself or Send as a Gift!</p>
                </div>
              </div>
              
              
              
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>





<div class="free-shipping-section">
  <p> 
    <i class="fa fa-truck" aria-hidden="true"></i>
    FREE SHIPPING, 
    100% HANGOVER GUARANTEE ON ALL ORDERS!
    <i class="fa fa-heart" aria-hidden="true"></i>
  </p>
</div>

<div class="pour-love-section">
  <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/We_CreateInnovativeSolutions_1.png?8641063994381175732">
</div>



<div class="about-dfw-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
        <h1>The Boldest, Highest Alcohol Wines</h1>
        <p>When you macro-dose with high alcohol wines, your experience is totally different and incredibly pleasurable! Here are a few of the benefits.</p>
      </div>
    </div>
    
    <div class="row what-to-expect vertical-align">
      <div class="col-xs-12 col-sm-6 text-center">
        <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/mindfulness.png?18136093030224691583">
      </div>
      <div class="col-xs-12 col-sm-6">
        <h2>Encourages Mindfulness & Meditation</h2>
        <p>You'll get this powerful head buzz that totally clears your mind of unnecessary thoughts; it's impossible to think about anything when the front of your head is throbbing. </p>
      </div>
    </div>
    
    
    <div class="row what-to-expect vertical-align">
      <div class="col-xs-12 col-sm-6 text-center">
        <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/antiaging.png?16418844697969707747">
      </div>
      <div class="col-xs-12 col-sm-6 ">
        <h2>Supports Anti-Aging </h2>
        <p>Every time you macro-dose, it will feel as if you are Freshman in college attending your first dorm party again. Even with just one serving of macro-dosed wine, you'll immediately feel younger. </p>
      </div>
      
    </div>
    
    <div class="row what-to-expect vertical-align">
      <div class="col-xs-12 col-sm-6 text-center">
        <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/hangover.png?3134633814659891539">
      </div>
      <div class="col-xs-12 col-sm-6">
        <h2>Cheers & Chill!</h2>
        <p>You'll find yourself feeling extremely relaxed. It's as if your ambition and excessive creative expression are thrown out the window and replaced by an urge to relax on the couch and a desire to intensely concentrate on small movements, like pressing a button on the tv remote. </p>
      </div>
    </div>
    
    <br />
    
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
        <img style="width:200px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/cheers-circle.png?3325275768870755286">
        <h1>Create Memorable Evenings</h1>
        <p>By sharing these high alcohol wines with friends and family, you'll create some of your happiest, goofiest, and most memorable moments that you won't remember the next morning.</p>
        <br />
        <a href="#main-product-id" class="action_button"> BUY NOW! </a>
      </div>
    </div>
    
  </div>
</div>



      
<div class="guarantee-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1>100% Hangover Guarantee</h1>
        <h3>We are so confident you’ll love the hangover from these wines we stand behind them with a 100% Hangover Guarantee.</h3>
      </div>
    </div>
  </div>
</div>


  
  
  
  
  
  



  
<script>
  $(document).on("click", '.add_to_cart', function(e) {
    window.setTimeout(function () {
      $('#cart').trigger("open");
    }, 1000);
  });
</script>
  

