{% layout 'theme.bootstrap.blogpost' %}

<img style="width: 100%;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/lifestyle-2.jpg?3330188121196583004">

<div id="">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-offset-1 col-md-10 col-sm-12">
            


			<h1 class="center">
              {{ page.title }}
            </h1>
            <p class="byline text-center">By Todd White | Jan 17, 2017</p>
            <div class="text-center social-icons">
              <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.dryfarmwines.com/pages/drink-like-health-experts">
                <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/facebook.png?17125932229404184545">
              </a>
              <a target="_blank" href="https://twitter.com/home?status=How%20To%20Drink%20Wine%20Like%20the%20World's%20Top%20Health%20%26%20Nutrition%20Experts%20https%3A//www.dryfarmwines.com/pages/drink-like-health-experts%20%40dryfarmwines">
                <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/twitter.png?17125932229404184545">
              </a>
              <a href="mailto:?subject=How to drink wine like the worlds top health experts&body=%20http://www.dryfarmwines.com/pages/drink-like-health-experts">
                <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/email.png?17125932229404184545">
              </a>
            </div>
            <div class="feature_divider"></div>

            <div>
              {{ page.content }}
            </div>

            <br /><br />
            
            <div class="text-center social-icons">
              <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.dryfarmwines.com/pages/drink-like-health-experts">
                <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/facebook.png?17125932229404184545">
              </a>
              <a target="_blank" href="https://twitter.com/home?status=How%20To%20Drink%20Wine%20Like%20the%20World's%20Top%20Health%20%26%20Nutrition%20Experts%20https%3A//www.dryfarmwines.com/pages/drink-like-health-experts%20%40dryfarmwines">
                <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/twitter.png?17125932229404184545">
              </a>
              <a href="mailto:?subject=How to drink wine like the worlds top health experts&body=%20http://www.dryfarmwines.com/pages/drink-like-health-experts">
                <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/email.png?17125932229404184545">
              </a>
            </div>

            

            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


