{% layout 'theme.bootstrap.landing-page' %}




<div class="main-product-section">
  <div class="container">
    
    
    <div class="row">
      <div class="col-xs-12">

        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="main-product" id="main-product-id">
              <div class="text-center">
                <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/April_Fools_1.png?307669019448513594" />
              </div>
              <br />
              <div class="description text-center" itemprop="description">
                 <p>Avoid drinking high alcohol, sugar filled wines at all costs! They’re filled with chemicals and they cause nasty hangovers.</p>
                 <br />
                 <p>As we know at Dry Farm Wines, the best tasting and healthiest wines in the world are natural wines.</p>
                 <br />
                 <p>We find wines made with as little human intervention as possible and that follow a clean protocol for winemaking: low alcohol, low sulfite, no sugar, no carbs, no industrial chemicals, no heavy filtration, and no flavor manipulation.  </p>
                 <br />
                 <p>To buy REAL wines that taste amazing without any negative side effects, <a href="https://www.dryfarmwines.com/products/spring-fling">click here!</a></p>
                 <br />
                 <p>To learn more about natural wines, check out our most recent blog post on terroir by <a href="https://www.dryfarmwines.com/blogs/content/what-on-earth-is-terroir">clicking here!</a></p>
                 <br />
                 <p>Stay Healthy!</p>
                 <br />
                 <p>With all our Love,</p>                
                <p><i>Todd, David, Luen, Juan, Mark, Ramzy, Tony, Rosetta, & Anthony</i></p>
              </div>

              
              
              
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>




  
  