{% layout 'theme.bootstrap.landing-page' %}

<div class="affiliate-landing-page">

  <div class="container">
    <div class="row text-center" style="margin:0px;">
      <div class="col-xs-12">
        <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/Screen_Shot_2018-04-03_at_12.27.39_PM.png?2909622487848639083" style="height:125px;">
      </div>
    </div>
  </div>

  <div class="main-product-section" style="background:white;">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-1 text-center">
		  <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/DFW_FactBooklet_v4_pdf.png?13786064681149069998">
        </div>
        <div class="col-xs-12 col-sm-6 text-center">
          <h1>Get the Natural Wine Guide</h1>
          <h3 style="font-size: 24px; line-height:32px; font-weight: 700;margin-bottom: 20px;color: black;font-weight: 100;">Check out our definitive guide to Natural Wines. Learn why they are better for your health and better for the Earth.</h3>
          
          </span>
          <p class=""></p>
          <ul class="">
            <li>NO HANGOVERS</li>
            <li>NO HEADACHES</li>
            <li>SUGAR-FREE</li>
          </ul>
          <p style="margin-top:15px;margin-bottom:15px;">
            <a data-sumome-listbuilder-id="9b68d1ea-95f8-4bb5-862d-f5fe21bbfeca" class="action_button button" style="background: crimson; color: white;line-height:18px;padding:18px;">Get the book</a>
          </p>
          
        </div>
        
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-sm-offset-1 text-center">
        <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/2018_01_12_DFW_Studio_Headshots-556_ExternalEdit2__14._Todd_White_0028.jpg?14963799950908851188" style="max-width: 200px; border-radius:50%;">
      </div>
      <div class="col-xs-12 col-sm-7 text-center">
        <p style="font-size:22px;font-style:italic;margin-top:15px;" class="text-left">
          “Not all wine is natural. In fact, most is not. Once you taste these Natural Wines, you'll be amazed: no hangovers or headaches, no reactions, and a better buzz. I drink a bottle a night!”
        </p>
        <p style="font-size:20px;margin-top:10px;" class="text-left">- Todd White, Founder of Dry Farm Wines</p>
      </div>
    </div>
  </div>

  <div id="endorsed" class="endorsed" style="padding-bottom:0px;background-color:#f2f2f2;">
    <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="row">
              <div class="col-md-12">
                <h2 class="endorsed-title">Enjoyed By The World's Top Health Experts </h2>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <div class="endorsed-image">
                          <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/mark.png?14011044857486688923">
                          </div>
                      </div>
                  <div class="col-lg-8 col-sm-8 col-xs-8">
                        <div class="endorsed-name">Mark Sisson, Primal Blueprint</div>
                        <blockquote>The perfect paleo wine, I’m a believer.</blockquote>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <div class="endorsed-image">
                          <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/dave.png?14011044857486688923">
                          </div>
                      </div>
                  <div class="col-lg-8 col-sm-8 col-xs-8">
                        <div class="endorsed-name">Dave Asprey, Bulletproof</div>
                        <blockquote>Dry Farm Wines brings fanatical quantification to biohacking wine.</blockquote>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <div class="endorsed-image">
                          <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/abel.png?14011044857486688923">
                          </div>
                      </div>
                  <div class="col-lg-8 col-sm-8 col-xs-8">
                        <div class="endorsed-name">Abel James</div>
                        <blockquote>Rejoice, you can drink your wine and have your health too!</blockquote>
                      </div>
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <div class="endorsed-image">
                          <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/dom-headshot-circle.png?8943019795153694782">
                          </div>
                      </div>
                  <div class="col-lg-8 col-sm-8 col-xs-8">
                        <div class="endorsed-name">Dr. Dominic D'Agostino</div>
                        <blockquote>Super high quality and won't kick you out of ketosis.</blockquote>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <div class="endorsed-image">
                          <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/robb.png?14011044857486688923">
                          </div>
                      </div>
                  <div class="col-lg-8 col-sm-8 col-xs-8">
                        <div class="endorsed-name">Robb Wolf</div>
                        <blockquote>If you enjoy wine but are not jazzed about the negative side effects, these wines are for you.</blockquote>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <div class="endorsed-image">
                          <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/JJVirgin-headshot-circle.png?433690727110574866">
                          </div>
                      </div>
                  <div class="col-lg-8 col-sm-8 col-xs-8">
                        <div class="endorsed-name">JJ Virgin</div>
                        <blockquote>Take great care of your body and your palate with Dry Farm Wines!</blockquote>
                      </div>
                  </div>
              </div>


            </div>
          </div>

        </div>
      </div>
  </div><!-- /end endorsed -->


  <div class="commited" style="padding-bottom:0px;padding-top:40px;background:#fff;">
    <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="row">
              <div class="col-xs-12 text-center" style="margin-bottom:30px;">
                <h2>There's A Healthier Way To Enjoy Wine</h2>
              </div>
              
              
              <div class="col-sm-7">
                <div class="commited-intro">
                  Dry Farm Wines curates only the highest quality natural wines from small, sustainable family farms that meet our strict standard of health. Unlike today's commercialized and processed wines, this is <i>real</i> wine. Nothing added, nothing removed. 
                  <br>
                  <br>
                  Because we're fanatical about our health and yours, we lab test every wine to ensure they meet our strict standards of purity. That means these wines are quantifiably clean, free of negative side effects, and friendly to every diet, including Paleo, Low-Carb, and Ketogenic.
                  <br>
                </div>
              </div>
              <div class="col-sm-5 text-center">
                <img style="border-radius:1000px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/DFW_1080x1080_1.jpg?669181662034397303">
              </div>
              	
              <div class="col-xs-12 text-center" style="margin-top:30px;">
                <h3>Pure, Artisanal, and Deliciously Clean</h3>
              </div>
              <div class="col-lg-8 col-lg-offset-2 col-sm-offset-1 col-sm-10" style="margin-top:10px;">
                <ul class="commited-list">
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Sugar-Free (< 1g/L)</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Low Sulfites (< 75ppm)</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Mouthwateringly Delicious</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Mycotoxin/Mold-Free</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">No Additives</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Dry-Farmed</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Naturally-Made</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Old Vines (35-100 yrs)</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Hand harvested</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Wild Native Yeast</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Small Productions</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Gluten-free</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Paleo-Friendly</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Keto-Friendly</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Low Carb-Friendly</li>

                </ul>
              </div>
            </div>
            
                          
              <div class="row">
                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="works-block">
                      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/grape-circle.png?8875175347034493518">
                      <p>We curate the finest healthy, natural wines</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="works-block">
                      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/lab-circle.png?8875175347034493518">
                      <p>We lab-test for the highest standard of health</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="works-block">
                      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/cheers-circle.png?8875175347034493518">
                      <p>You enjoy without the headaches or hangovers</p>
                    </div>
                </div>
              </div>

            
          </div>
        </div>
      </div>
    </div>




  <div class="container">
    <div class="row vertical-align">
      <div class="col-sm-6 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center">
        <h1>Get The Natural Wine Guide</h1>
        <p style="text-align: center;">
          <a data-sumome-listbuilder-id="9b68d1ea-95f8-4bb5-862d-f5fe21bbfeca" class="action_button button" style="background: crimson; color: white;line-height:18px;padding:18px;">Send me the book</a>
        </p>
      </div>
      <div class="col-sm-4">
        <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/DFW_FactBooklet_v4_pdf.png?13786064681149069998">
      </div>
    </div>

  </div>
  
  <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/big-bottles.jpg?12633010494580789307" style="margin-bottom:-10px;">



</div>



