{% layout 'theme.bootstrap.landing-page' %}

<div class="affiliate-landing-page">

    <div class="free-shipping-section" style="background:black;color:white;">
    <p> 
      <i class="fa fa-truck" aria-hidden="true"></i>
      FREE SHIPPING, 
      100% HAPPINESS GUARANTEE ON ALL ORDERS!
      <i class="fa fa-heart" aria-hidden="true"></i>
    </p>
  </div>
  
  <div class="container">
    <div class="row text-center" style="margin:0px;">
      <div class="col-xs-12">
        <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/Untitled_d66be50d-78da-40f0-9b88-7a3cfa422d37.png?10716993340985653055" style="height:100px;">
      </div>
    </div>
  </div>




  
  
  
  
  <div id="" style="background:black;">
    <div class="container" style="padding-bottom:20px;padding-top:20px;">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <div class="text-center">
            <h1 style="padding:25px 0px 15px 0px;font-size:54px; color:white;">The Healthiest Natural Artisan Wines</h1>
            <h3 style="margin-bottom:30px; font-size:18px;color:black;font-family:'brandon_regular' !important; color:white;">All Natural & Additive Free | Lab Tested for Purity | Sugar-Free & Low Alcohol </h3>
            <p style="text-align: center;">
              <a data-sumome-listbuilder-id="b142d0ce-238c-42d7-8675-7df66b21fce8" class="action_button button" style="background: crimson; color: white;line-height:18px;padding:18px;">Get Started<br /><span class="ebook-in-button">and claim your extra penny bottle gift</span></a>
            </p>
          </div>
        </div>
      </div>
        <div class="text-center">
          <img style="background:black; width:900px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/20181026_200749_7._30_Bottle_Holiday_promo_00007_Thanksgiving_BottleShots_WinterHolidays_1.jpg?5126721160343701514" />
      </div>
    </div>
  </div>

<!--  <div class="main-product-section" id="main-product-id" style="background:black; padding-top:0px;">
   
   
    <div class="container" style="padding-top:0px; background:black;">

        <div class="text-center" style="margin-left:100px; margin-right:100px; margin-bottom: 30px;">
          <h1 style="padding:30px 0px 30px 0px;font-size:50px;color:white;">Start Your Natural Wine Journey</h1>
          <p style="text-align: center;">
            <a data-sumome-listbuilder-id="b142d0ce-238c-42d7-8675-7df66b21fce8" class="action_button button" style="background: crimson; color: white;line-height:18px;padding:18px;">Claim Your Penny Bottle<br /><span class="ebook-in-button">(and get our free natural wine ebook!)</span></a>
          </p>
        </div>
           

        

      
      
      
    </div>
      
  </div> -->
  
  
  
  
  
  
<div id="endorsed" class="endorsed" style="padding-bottom:0px;background-color:#f2f2f2;">
    <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="row">
              <div class="col-md-12">
                <h2 class="endorsed-title">Enjoyed By The World's Top Health Experts </h2>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="row">
                      <div class="col-lg-4 col-sm-4 col-xs-4">
                          <div class="endorsed-image">
                            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/mark.png?14011044857486688923">
                            </div>
                        </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                          <div class="endorsed-name">Mark Sisson, Primal Blueprint</div>
                          <blockquote>The perfect paleo wine, I’m a believer.</blockquote>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="row">
                      <div class="col-lg-4 col-sm-4 col-xs-4">
                          <div class="endorsed-image">
                            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/dave.png?14011044857486688923">
                            </div>
                        </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                          <div class="endorsed-name">Dave Asprey, Bulletproof</div>
                          <blockquote>Dry Farm Wines brings fanatical quantification to biohacking wine.</blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="row">
                      <div class="col-lg-4 col-sm-4 col-xs-4">
                          <div class="endorsed-image">
                            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/abel.png?14011044857486688923">
                            </div>
                        </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                          <div class="endorsed-name">Abel James</div>
                          <blockquote>Rejoice, you can drink your wine and have your health too!</blockquote>
                        </div>
                  </div>
                </div>
              </div>
              <div class="row">

                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="row">
                      <div class="col-lg-4 col-sm-4 col-xs-4">
                          <div class="endorsed-image">
                            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/JJVirgin-headshot-circle.png?3869447806782600386">
                            </div>
                        </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                          <div class="endorsed-name">JJ Virgin</div>
                          <blockquote>Take great care of your body and your palate with Dry Farm Wines!</blockquote>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="row">
                      <div class="col-lg-4 col-sm-4 col-xs-4">
                          <div class="endorsed-image">
                            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/robb.png?14011044857486688923">
                            </div>
                        </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                          <div class="endorsed-name">Robb Wolf</div>
                          <blockquote>If you enjoy wine but are not jazzed about the negative side effects, these wines are for you.</blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="row">
                      <div class="col-lg-4 col-sm-4 col-xs-4">
                          <div class="endorsed-image">
                            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/camille.png?14011044857486688923">
                            </div>
                        </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                          <div class="endorsed-name">Camille Macres</div>
                          <blockquote>I woke up with a clear head! That was enough for me to be a believer!</blockquote>
                        </div>
                    </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="row">
                      <div class="col-lg-4 col-sm-4 col-xs-4">
                          <div class="endorsed-image">
                            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/wellness_mama_large.jpeg">
                            </div>
                        </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                          <div class="endorsed-name">Katie, Wellness Mama</div>
                          <blockquote>I was amazed at the difference in the taste!</blockquote>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="row">
                      <div class="col-lg-4 col-sm-4 col-xs-4">
                          <div class="endorsed-image">
                            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/ZAGuPsyr.jpg?9588798804005031646">
                            </div>
                        </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                          <div class="endorsed-name">Drew Manning</div>
                          <blockquote>Dry Farm Wines has done the impossible and now people can enjoy their wine and stay in ketosis.</blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="row">
                      <div class="col-lg-4 col-sm-4 col-xs-4">
                          <div class="endorsed-image">
                            <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/chriskresser-1-e1460137781843.jpg?10829125403142122348">
                            </div>
                        </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                          <div class="endorsed-name">Chris Kresser</div>
                          <blockquote>Great taste and, even better, feel great the next morning.</blockquote>
                        </div>
                    </div>
                </div>


            </div>
          </div>

        </div>
      </div>
  </div><!-- /end endorsed -->


  <div class="commited" style="padding-bottom:0px;padding-top:40px;background:#fff;">
    <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="row">
              <div class="col-xs-12 text-center" style="margin-bottom:30px;">
                <h2>There's A Healthier Way To Enjoy Wine</h2>
              </div>
              
              
              <div class="col-sm-7">
                <div class="commited-intro">
                  Dry Farm Wines curates only the highest quality natural wines from small, sustainable family farms that meet our strict standard of health. Unlike today's commercialized and processed wines, this is <i>real</i> wine. Nothing added, nothing removed. 
                  <br>
                  <br>
                  Because we're fanatical about our health and yours, we lab test every wine to ensure they meet our strict standards of purity. That means these wines are quantifiably clean, free of negative side effects, and friendly to every diet, including Paleo, Low-Carb, and Ketogenic.
                  <br>
                </div>
              </div>
              <div class="col-sm-5 text-center">
                <img style="border-radius:1000px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/DFW_1080x1080_1.jpg?669181662034397303">
              </div>
              	
              <div class="col-xs-12 text-center" style="margin-top:30px;">
                <h3>Pure, Artisanal, and Deliciously Clean</h3>
              </div>
              <div class="col-lg-8 col-lg-offset-2 col-sm-offset-1 col-sm-10" style="margin-top:10px;">
                <ul class="commited-list">
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Sugar-Free (< 1g/L)</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Low Sulfites (< 75ppm)</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Low Alcohol (< 12.5%)</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Mycotoxin/Mold-Free</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">No Additives</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Dry-Farmed</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Naturally-Made</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Old Vines (35-100 yrs)</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Hand harvested</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Wild Native Yeast</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Small Productions</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Gluten-free</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Paleo-Friendly</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Keto-Friendly</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Low Carb-Friendly</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Mouthwateringly Delicious</li>
                </ul>
              </div>
            </div>
            
                          
              <div class="row">
                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="works-block">
                      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/grape-circle.png?8875175347034493518">
                      <p>We curate the finest healthy, natural wines</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="works-block">
                      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/lab-circle.png?8875175347034493518">
                      <p>We lab-test for the highest standard of health</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="works-block">
                      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/cheers-circle.png?8875175347034493518">
                      <p>You enjoy without the headaches or hangovers</p>
                    </div>
                </div>
              </div>

            
          </div>
        </div>
      </div>
    </div>

  
  

      
   <div id="" style="background:black;">
     <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/20180607142131__XT24292_YannikRohrer_Fujifilm_X-T2_XF16-55mmF2.8_R_LM_WR_75_mm_0._Organize_Castellani_Winery_1939-2_MIRROR_Final_Edit_Panoramics_Castellani_0001_1.jpg?11697533387235233381" >
    <div class="container" style="padding-bottom:20px;padding-top:50px; background:black;">
      <div class="row">
          <div class="text-center">
            <h1 style="padding:25px 0px 25px 0px;font-size:39px; color:white;">Why Natural Wine?</h1>  
        </div>
        </div>
      
      <div class="row">
          <div class="col-xs-12 col-sm-5 col-sm-offset-1">
            <img style="max-height:275px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/20180923_184204_DSCF0500_X-H1_XF16-55mmF2.8-R-LM-WR_60-mm_YannikRohrer_DryFarmWines_2018_09_23_09_GrowerVisit_CraigHawkinsHome_SwartlandSouthAfrica_11189.jpg?970718259623836388" >
          </div>
          <div class="col-xs-12 col-sm-5" style="color:white;">
           <h1 style="font-size:28px;margin-top:20px; color:white;">Clean, Joyful Buzz</h1>
            <p style="margin-bottom:20px; font-size:22px;">With less than 1g/L of sugar and a lower alcoholic dose, these wines give you a unique buzz. They keep you energized while minimizing headaches and hangover effects.</p>

          </div>
      </div>
      
      <div class="row">
          <div class="col-xs-12 col-sm-5 col-sm-offset-1">
            <img style="max-height:275px; margin-top:40px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/20180603110041_DSCF2849_YannikRohrer_Fujifilm_X-H1_XF16-55mmF2.8_R_LM_WR_80_mm_0._Raw_0117_Edit_DFW_Italy_GrowerVisit_Architepo_Edit_Color_12MP_1.5MB_1.jpg?8699165392615323876" >
          </div>
          <div class="col-xs-12 col-sm-5" style="color:white;">
           <h1 style="font-size:28px; margin-top:60px; color:white;">Small, Family Farmers</h1>
            <p style="margin-bottom:20px; font-size:22px;">We only source wines from family farmers who respect the Earth and work with their hands. They consistently sacrifice profits because they don’t use machinery or industrial additives; we fairly support them for their work in service of our health.</p>

          </div>
      </div> 
      
       <div class="row">
          <div class="col-xs-12 col-sm-5 col-sm-offset-1">
            <img style="max-height:275px;  margin-top:40px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/20180609163355_DSCF2760_YannikRohrer_Fujifilm_X-H1_XF16-55mmF2.8_R_LM_WR_26_mm_2018_06_09_DFW_Austria_Vienna_WineFair_VieVinum_Hofburg_Palace_1010_Vienna_4361_MIRROR_Color_Edit_-_Vie_Vinum_-_Hoffburg.jpg?8241653795899074173" >
          </div>
          <div class="col-xs-12 col-sm-5" style="color:white;">
           <h1 style="font-size:28px;margin-top:60px; color:white;">Certified and Lab Tested</h1>
            <p style="margin-bottom:20px; font-size:22px;">Every bottle we source is lab tested by an independent third party for levels of sugar, alcohol, and sulfites. Also, every wine is organically grown, farmed without irrigation, and fermented with wild yeasts only.</p>

          </div>
       </div>

        <div class="text-center glass-harmony-cta" style="background:black; margin-top:50px; margin-bottom:40px;">
      		<a href="#main-product-id" class="action_button" style="padding:15px 30px;margin:20px 20px;background:#921c1c;">Try Healthier Natural Wines</a>
    	</div> 
      
    </div>
  </div>
  
  
    <div class="main-product-section" id="" style="background:black; padding-bottom:20px;padding-top:10px;">
    <div class="container" style="padding-top:0px;">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
          <h1 style="padding:20px 0px 0px 0px;font-size:39px;color:white;">Frequently Asked Questions</h1>
        </div>
        <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
          <div class="text-center;" style="color:white;">       
			<h1 style="padding:50px 0px 0px 0px;font-size:30px;color:white;">What is in each box?</h1>
            <p style="margin-bottom:20px;font-size:24px;">Each Box has an assortment of Natural Wines that meet our strict farming and health criteria. You can select 6 or 12 bottles of reds, whites, or a mix of both. We also include a informational pamphlets and "DFW Certified" stickers to identify your bottles.</p>
           	<h1 style="padding:50px 0px 0px 0px;font-size:30px;color:white;">How much does shipping cost?</h1>
            <p style="margin-bottom:20px;font-size:24px;">All shipments within the continental US are delivered with complimentary ground shipping.</p>
            <h1 style="padding:50px 0px 0px 0px;font-size:30px;color:white;">How long does shipping take?</h1>
            <p style="margin-bottom:20px;font-size:24px;">Ground shipping times depend on the state. For the West Coast, shipping takes 1-3 business days. For the East Coast, it takes 5-7.</p>
            <h1 style="padding:50px 0px 0px 0px;font-size:30px;color:white;">What if I do not like a bottle?</h1>
            <p style="margin-bottom:20px;font-size:24px;">We will replace or refund any bottle you don't love, no time limits or questions asked. This is our Happiness Guarantee on every box.</p>
          </div>
          <br /><br />
        </div>

      </div>
           <div class="text-center glass-harmony-cta">
      <a href="#main-product-id" class="action_button" style="padding:15px 30px;margin:20px 0px;background:#921c1c;">Try our Lab Tested Wine</a>
    </div> 
    </div>
     
  </div> 
  
  
  
  <div id="">
    <div class="container" style="padding-bottom:20px;padding-top:50px;">
      <div class="row">
          <div class="text-center">
            <h1 style="padding:25px 0px 25px 0px;font-size:39px;">Meet a Natural Wine Grower</h1>
          </div>
        </div>
      
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-1">
            <img style="max-height:600px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/20180612124523_DSCF6262_YannikRohrer_Fujifilm_X-H1_XF16-55mmF2.8_R_LM_WR_24_mm_0._Organize_ClausPreisenger_0239_MIRROR_Edit_Color_ClausPreisenger_Austria_0001_1_7f997961-7d5d-4b4d-aef4-80f026c9171b.jpg?6244948998395886204" >
          </div>
          <div class="col-xs-12 col-sm-4">
			<p style="margin-bottom:20px;font-size:24px;">Claus Preisinger is one of the most accomplished biodynamic wine growers in the world. A pioneer of Austrian Natural Wine, Claus originally studied commercial winemaking in California, but quickly developed a distaste for its lack of respect for Nature. He soon started his own vineyard in Austria, committing to intense organic and biodynamic practices.</p>
          </div>
        </div>

      <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          	<p style="margin-bottom:15px;font-size:24px;">At heart, Claus is a farmer. He lives in the soil and is obsessive about his Natural lifestyle. With a rebellious spirit, he bucks every trend in modern winemaking: avoids commercial machinery, shuns shortcuts in his cellar, uses only native yeasts, works with his hands everyday, and perhaps most importantly, expresses his authentic personality in everything he does.</p>
            <p style="margin-bottom:15px;font-size:24px;">We support Claus and all of our natural family farmers who respect Nature's health in the soil and our health in their wines!</p>
        </div>
        </div>
      
    </div>
  </div>
  
    <div class="main-product-section" style="background:white; padding-top:0px;margin-top:-3px;">
  <div class="container" style="padding-top:25px;">
    <div class="row">
        <div class="text-center">
                <h1 style="padding:50px 0px 30px 0px;font-size:40px;">CLAUS TALKS ABOUT HIS PHILOSOPHY</h1>
          <div class="vid-container">
			<iframe width="500" height="315" src="https://www.youtube.com/embed/SujQ6nqcIQw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
      </div>
    </div>
  </div>
</div>
  
  
  
 



  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <div class="row text-center" style="padding:40px 0px;">
          <div class="col-sm-12">
            <h1>Ready to Begin Your Journey into the World of Healthier Natural Wines?</h1>
            <h3>Get an extra bottle of wine for $0.01</h3>
            <p style="text-align: center;">
              <a data-sumome-listbuilder-id="b142d0ce-238c-42d7-8675-7df66b21fce8" class="action_button button" style="background: crimson; color: white;line-height:18px;padding:18px;">Claim Your Penny Bottle<br /><span class="ebook-in-button">(and get our free natural wine ebook!)</span></a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>



</div>



