<div id="wine-by-nature-page">
<div id="slide-page">
    <div class="bcg"
                  style="background-position: 50% 70%;background-attachment: unset;";>
        <div class="hsContainer">
            <div class="hsContent center">
              <div>
                <h1 class="headline" style="color:{{settings.banner_color}}">{{ page.title }}</h1>
<!--                 <p class="subtitle" style="color:{{settings.banner_color}}">{{ settings.image_contact_subtitle }}</p> -->
              </div>
            </div>
        </div>
    </div>
  </div>


  <div class="container">
    
    <div class="eight columns alpha">
      <h3>Our wines all share natural farming and traditional winemaking practices, including:</h3>
      <ul>
        <li>Natural, sustainable, or Biodynamic viticulture/farming</li>
        <li>Dry farming, no use of irrigation</li>
        <li>Old growth vines, generally 35-100 years</li>
        <li>Hand harvested fruit from low yields</li>
        <li>Minimal intervention in the vinification and aging</li>
        <li>Wild native yeast in fermentation</li>
        <li>No commercial yeast for flavor alteration</li>
        <li>No or minimal filtering/fining</li>
        <li>No or minimal use of new oak</li>
        <li>No or minimal addition of SO2 (sulfites)</li>
        <li>No chaptalization (adding sugar to the grape must in fermentation)</li>
        <li>No chemical additives for aroma, color, flavor or texture enhancement</li>
      </ul>
    </div>
    
    <div class="eight columns omega">
      <h3>When wine is alive and free from overreaching modern influence, the wine will whisper in nature’s perfect logic and design.</h3>
      <p>We search the world for the finest natural, sustainable, and biodynamic wines. The family farms and artisans that handcraft our wines are deeply committed to these farming and winemaking practices. You can taste it in every soulful wine we collect.</p>
      <p>The authentic wines we procure are exceptionally interesting and compelling expressions of taste and pleasure. When a wine is alive and free from overreaching modern influence, the wine will whisper in nature’s perfect logic and design. The wine will express nature joyfully and perfectly.</p>
	  
      <br />
      <a class="action_button secondary" style="background: crimson; color: white;" href="https://www.dryfarmwines.com/products/wine-membership">Shop Now</a>
    </div>
  </div>


<div class="container">
  <hr>

  <div style="text-align: center; margin: 30px;">
    <h1>Our Ethos</h1>
  </div>
  
  <div class="eight columns alpha">
	  <img style="width:100%; height:100%;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/Stocksy_txp17a4ebd2FrX000_Medium_83421.jpg?14430399643824459483" />    
  </div>
  
  <div class="eight columns omega">
    <h3>The Design of Living Well</h3>

    <p>Our passion and life’s purpose is sharing the knowledge, extraordinary vitality and abundant pleasures of optimized health in whole natural living and wellness.</p>

    <p>Because wine enjoyment is an important part of our journey of living well, we search the globe to find world class, pure, whole, and natural family farmed wines that are naturally low in alcohol, statistically sugar and carb free for the very best of life optimization in wine enjoyment.</p>

    <h3>Connecting the World with Nature’s Bounty</h3>

    <p>We also believe the preservation and expansion of family farming is integral to our mission; to connect more people with nature’s whole, pure bounties that optimize health and pleasure. We are committed to financially supporting farmers and artisans who share our passion and purpose; who are dedicated to nature’s logic and the beauty that is the expression of authenticity in craft.</p>
  </div>
  
</div>


</div>


    <style>
#slide-page .bcg {background-image:url("https://cdn.shopify.com/s/files/1/0924/9540/files/Fotolia_84735691_M.jpg?9263873488944864427"); background-position: center;}
#slide-page .hsContainer { height: 400px; }
    </style>