{% layout 'theme.bootstrap' %}

{{ 'bootstrap-page.scss' | asset_url | stylesheet_tag }}

<div class="our-wines">

  <div class="row vertical-align header-section">
    <div class="col-sm-4 text-center" style="font-size:60px;">
      <h1>Our Wines</h1>
    </div>
    <div class="col-sm-8">
      <img class="header-img" src="https://cdn.shopify.com/s/files/1/0924/9540/files/floating-wines-1.png?4992873029352869337">
    </div>
  </div>
  
  <div class="container">
    
    <div class="row tagline">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
        <h2 style="margin:0px;">We import the finest, artisanal natural wines from around the world and lab test them for the highest standards of purity and health.</h2>
      </div>
    </div>
    
    <div class="col-lg-8 col-lg-offset-2 col-sm-offset-1 col-sm-10" style="margin-top:10px;">
      <ul class="commited-list">
          <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Sugar-Free (< 1g/L)</li>
          <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Low Sulfites (< 75ppm)</li>
          <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Low Alcohol (< 12.5%)</li>
          <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Mycotoxin/Mold-Free</li>
          <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">No Additives</li>
          <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Dry-Farmed</li>
          <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Naturally-Made</li>
          <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Old Vines (35-100 yrs)</li>
          <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Hand harvested</li>
          <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Wild Native Yeast</li>
          <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Small Productions</li>
          <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Gluten-free</li>
          <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Paleo-Friendly</li>
          <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Keto-Friendly</li>
          <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Low Carb-Friendly</li>
          <li><img src="https://cdn.shopify.com/s/files/1/0924/9540/files/orange-check.png?14011044857486688923">Mouthwateringly Delicious</li>
      </ul>
    </div>
    
    <div class="row learn-more">
      <div class="col-xs-12 text-center">
        <a href="#farming">
          <h3 class="" style="margin-bottom:0px;">Learn More</h3>
          <i class="fa fa-caret-down fa-3x" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
    
  <div class="row farming" id="farming">
    <div class="col-xs-12 text-center">
      <h1>Clean Farming</h1>
    </div>
  </div>
  
  <div class="container" style="padding-top:0px;margin-bottom:100px;">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h3>All of the artisan winegrowers we work with use natural farming practices without any agrochemicals in the field. They encourage biodiversity, healthy soil, and strong vines.</h3>
      </div>
      
      <div class="col-sm-6 col-sm-offset-1">
        <p class="sub-head bold">Natural viticulture</p>
        <p>No pesticides or chemicals ensures a clean final product.</p>
        
        <p class="sub-head bold">Dry farming - no use of irrigation </p>
        <p>Dry farming enhances the strength and nutrition of grape vines.</p>
        
        <p class="sub-head bold">Old growth vines - generally 35-100 years old</p>
        <p>Deeper roots absorb more minerals and nutrients from the fertile soil.</p>
        
        <p class="sub-head bold">Hand harvested fruit from low yields</p>
        <p>Without machines, winemakers show dedication to their artistic craft.</p>
      </div>
      <div class="col-sm-4 text-center grower-quote">
        <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/isabelle-jolly.png?17384326625233777466">
        <p>"It's like being a mother, you must give the vineyard lots of love and care for each vine like it’s your child."</p>
        <p>-Isabelle Jolly</p>
      </div>
    </div>     
  </div>
        

  <div class="row winemaking">
    <div class="col-xs-12 text-center">
      <h1>Artisan Winemaking</h1>
    </div>
  </div>
  
  <div class="container" style="padding-top:20px;margin-bottom:100px;">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h3>The family growers handcraft every one of their wines by following nature’s logic, allowing the grapes to express themselves with minimal intervention.</h3>
      </div>
      
      <div class="col-sm-4  col-sm-offset-1 text-center grower-quote">
        <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/monne.png?4916831608078418180">
        <p>“Just being natural doesn't make your wine good. You also need to be a good winemaker."</p>
        <p>-Eric Monné</p>
      </div>
      
      <div class="col-sm-5 col-sm-offset-1">
        <p class="sub-head bold">No additives for aroma, color, flavor, or texture </p>
        <p>No Mega Purple, fish bladders, or toxic metals.</p>
        
        <p class="sub-head bold">Only wild native yeast in fermentation </p>
        <p>Native yeasts found naturally on the vines, not in test tubes.</p>
        
        <p class="sub-head bold">No or minimal filtering/fining</p>
        <p>Without machine filtering, the wine preserves its character and vitality.</p>
        
        <p class="sub-head bold">Minimal intervention & clean vinification/aging protocols</p>
        <p>No new oak or extracts keeps a wine clean as it ages.</p>
      </div>
      
    </div>     
  </div>
  
  
  
  <div class="row labtesting">
    <div class="col-xs-12 text-center">
      <h1>Lab Testing</h1>
    </div>
  </div>
  
  <div class="container" style="padding-top:20px;margin-bottom:100px;">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h3>All our wines are scrutinized to meet our exact standards of purity. We lab test every bottle using an independent, certified enologist to ensure optimal quality. This is part of our obsession to biohack wine to reach the highest level of health and pleasure.</h3>
      </div>
      
      <div class="col-sm-8 col-sm-offset-2">
        <br />
        <h3 class="bold">Sugar-Free</h3>
        <p>Sugar is the leading cause of most modern chronic diseases and is often present in wine, up to 300 g/L in sweet wines.</p>
        <br />
        <p>All of our wines are statistically sugar-free and carb-free. Their total sugar levels never exceed 1g/L, and any amount of sugar is naturally occurring. This is possible when winegrowers fully ferment their wines so natural yeasts consume all of the sugars in the grape juice.</p>
		<br />
        <p>Sugar-free wines taste clean and pure. They also do not spike your blood sugar levels, so they won’t leave you with headaches or hangovers.</p>
        <br /><br />
        
        <h3 class="bold">Low Alcohol</h3>
        <p>Wines can range from 7 - 24% alcohol by volume (ABV). American wine labeling laws do not require wine companies to state the accurate percentage on the label. We lab-test every wine to verify its true ABV.</p>
        <br />
        <p>We’re committed to low-alcohol wines because dosage matters. Alcohol is toxic. In the right low dose, however, there are some real benefits to drinking.</p>
        <br />
        <p>Low alcohol wines allow you to enjoy a pleasant buzz, expand your creative expression, and foster a deep sense of connection without the harmful side effects.</p>
        <br /><br />
        
        <h3 class="bold">Low Sulfites</h3>
        <p>Sulfites are naturally-occurring during wine fermentation. Many commercial wine companies add additional sulfites to sterilize and preserve their wines for a consistent shelf taste.</p>
        <br />
        <p>While the US government restricts sulfites in wine to 350 ppm (parts per million), we never accept a wine above 75 ppm. Most wines we represent are well below 50 ppm.</p>
        <br />
        <p>We find low sulfite wines express more vitality and personality. There is also some documented evidence of mild to severe allergies to sulfites. With low sulfite wines, people that suffer from these sensitivities can safely enjoy wine.</p>
        <br />

      </div>
      
    </div>
    
    
  </div>

  
  <div class="example-wine">
	<div class="text-center">
      <h2>An Example of a Wine in Our Portfolio</h2>
    </div>
    <div class="row grid-of-wines vertical-align">
      <div class="col-xs-12 col-sm-3 col-sm-offset-1 text-center">
        <img style="height:500px;" src="https://cdn.shopify.com/s/files/1/0924/9540/files/la_paonnerie_2-clean.png?13570289675802544179">
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3 class="bold">Domaine de la Paonnerie - Simplement Gamay 2015</h3>
        <p><span class="bold">Varietal</span>: Gamay</p>
        <p><span class="bold">Vintage</span>: 2015</p>
        <p><span class="bold">Appellation</span>: France, Coteaux d'Ancenis (Loire)</p>
        <p><span class="bold">Winemaker</span>: Jacques Carroget</p>
        <p><span class="bold">About the domaine</span>: Paonnerie’s vineyards are some of the most wild and natural vineyard
eco-systems in the Loire valley: trees are planted every year to foster
biodiversity, and oats and clover are planted between the vine rows to
improve soil’s life. All weed management and soil preparations are
handled with sheep and hogs. Perches for birds have been placed
around the vineyard for chickadee to flush out grape caterpillars and other
          harmful bugs. 3 hectares from the estate are plowed by horse.
        </p>
        <br />
        <p><span class="bold">Labs</span>: 0.4 g/L sugar, <2 ppm total SO2, 12.4% alcohol</p>
          <br />
        <p><span class="bold">Our Notes</span>: A beautiful floral nose and a polished texture on the palate. There's nothing aggressive here; every sip tastes elegant and well-rounded. This is an extremely versatile wine for the dinner table. </p>
      </div>
    </div>
  </div>
  
  
  <div class="row enjoyment">
    <div class="col-xs-12 text-center">
      <h1>Enjoyment</h1>
    </div>
  </div>
  
  <div class="container" style="padding-top:20px;margin-bottom:100px;">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h3>Natural, sugar-free wines will completely change the way you experience and enjoy wine. These wines not only taste better, they are better for the environment and better for your health.</h3>
      </div>
      
      <div class="col-sm-8 col-sm-offset-2">
        <br />
        <h3 class="bold">No Negative Reactions</h3>
        <p>When a fine wine is crafted without any manipulation of the land, vines, grapes, or juice, it won’t cause any of the usual, harmful effects. That means no hangovers, headaches, inflammation, poor sleep, rashes, or stomach aches.</p>
        <br /><br />
        
        <h3 class="bold">Diet-Friendly</h3>
        <p>Because these wines are sugar-free, carb-free, and natural, they are friendly to almost every diet, including Low Carb, Paleo, and Ketogenic. </p>
        <br /><br />
        
        <h3 class="bold">Unique Global Styles</h3>
        <p>We import fine wines from distinct regions in France, Italy, Spain, Croatia, Slovenia, and New Zealand (to name a few). We strive to find every healthy, delicious natural wine on the planet. At the moment, we do not represent any American wines because they do not meet our protocols.</p>
        <br /><br />
        
        <h3 class="bold">Clean Taste</h3>
        <p>Our unique global styles taste clean, reflect the personality of their terroir, and pair far better with food. They are rare in the US marketplace and it’s our pleasure to share them with you!</p>
        <br /><br />

      </div>
      
    </div>
    
  
  
    <div id="endorsed" class="endorsed" style="padding-bottom:0px;">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="row">
              <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <div class="endorsed-image">
                          <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/mark.png?14011044857486688923">
                          </div>
                      </div>
                  <div class="col-lg-8 col-sm-8 col-xs-8">
                        <div class="endorsed-name">Mark Sisson, Primal Blueprint</div>
                        <blockquote>The perfect paleo wine, I’m a believer.</blockquote>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <div class="endorsed-image">
                          <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/dave.png?14011044857486688923">
                          </div>
                      </div>
                  <div class="col-lg-8 col-sm-8 col-xs-8">
                        <div class="endorsed-name">Dave Asprey, Bulletproof</div>
                        <blockquote>Dry Farm Wines brings fanatical quantification to biohacking wine.</blockquote>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <div class="endorsed-image">
                          <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/abel.png?14011044857486688923">
                          </div>
                      </div>
                  <div class="col-lg-8 col-sm-8 col-xs-8">
                        <div class="endorsed-name">Abel James</div>
                        <blockquote>Rejoice, you can drink your wine and have your health too!</blockquote>
                      </div>
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <div class="endorsed-image">
                          <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/dom-headshot-circle.png?8943019795153694782">
                          </div>
                      </div>
                  <div class="col-lg-8 col-sm-8 col-xs-8">
                        <div class="endorsed-name">Dr. Dominic D'Agostino</div>
                        <blockquote>Super high quality and won't kick you out of ketosis.</blockquote>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <div class="endorsed-image">
                          <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/robb.png?14011044857486688923">
                          </div>
                      </div>
                  <div class="col-lg-8 col-sm-8 col-xs-8">
                        <div class="endorsed-name">Robb Wolf</div>
                        <blockquote>If you enjoy wine but are not jazzed about the negative side effects, these wines are for you.</blockquote>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <div class="endorsed-image">
                          <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/JJVirgin-headshot-circle.png?433690727110574866">
                          </div>
                      </div>
                  <div class="col-lg-8 col-sm-8 col-xs-8">
                        <div class="endorsed-name">JJ Virgin</div>
                        <blockquote>Take great care of your body and your palate with Dry Farm Wines!</blockquote>
                      </div>
                  </div>
              </div>


            </div>
          </div>

        </div>
    </div><!-- /end endorsed -->
    
    <a class="action_button secondary" style="background: crimson; color: white" href="https://www.dryfarmwines.com/products/wine-membership">Shop Now</a>
    
  </div>
  
  


</div>



