{% layout 'theme.bootstrap' %}

{{ 'bootstrap-page.scss' | asset_url | stylesheet_tag }}


<div class="join-us">

    <div class="row">
      <div class="col-xs-12 text-center">
	    <h1>Join Our Family</h1>
      </div>
    </div>
    
    <style>
        .galleria{ max-width: 100%; height: 700px; background: #000 }
      
      @media (max-width: 767px) {
        .galleria{ max-width: 100%; height: 400px; background: #000 }
      }
    </style>

    <div class="galleria"> 
      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/2018_04_03_DFW_FamilyPicture_Photo_20180330_190430_XT22711_www.YannikRohrer.com__0061-Edit__0001.jpg?1374827334194978678">
      
      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/20171011_DryFarmWines_YannikRohrerPhotography_People_0143.jpg?16249828664336270392">
      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/20171015_DryFarmWines_YannikRohrerPhotography_Images_0128.jpg?16249828664336270392">
      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/20171112_DryFarmWines_2017_11_10_Polaroid_SanDiego_0004.jpg?16249828664336270392">
      
      
      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/20171111_DryFarmWines_Images_0140.jpg?15013595069101275993">
      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/20171011_DryFarmWines_YannikRohrerPhotography_Images_0078.jpg?15013595069101275993">
      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/20171114_DryFarmWines_YannikRohrerPhotography_2017_11_12_RAW_AfterParty_0079.jpg?15013595069101275993">
      
      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/20171111_DryFarmWines_Images_0198.jpg?15013595069101275993">
      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/20171114_DryFarmWines_YannikRohrerPhotography_2017_11_12_RAW_AfterParty_0075.jpg?15013595069101275993">
      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/20171114_DryFarmWines_YannikRohrerPhotography_2017_11_12_RAW_AfterParty_0073.jpg?15013595069101275993">
      
      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/Screen_Shot_2017-06-09_at_7.44.01_PM.jpeg?15900234763261273223">
      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/Ferriss.jpeg?15900234763261273223">
      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/20171011_15_30_04_DSCF4112_www.YannikRohrer.com_Description_037_www.YannikRohrer.com_BulletProof_314.jpeg?15900234763261273223">
      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/20171015_23_21_38__XT23202_www.YannikRohrer.com_Description_273_www.YannikRohrer.com_BulletProof_366.jpeg?40699729480332774915900234763261273223">
      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/Screen_Shot_2017-12-06_at_8.04.19_AM.jpeg?15900234763261273223">
      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/p4.jpeg?15900234763261273223">
      
      
      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/20171012_DryFarmWines_YannikRohrerPhotography_Images_0047.jpg?5666944921139556658">
      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/20171015_DryFarmWines_YannikRohrerPhotography_Images_0013.jpg?5666944921139556658">
      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/20171015_DryFarmWines_YannikRohrerPhotography_Images_0109.jpg?5666944921139556658">
      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/20171016_DryFarmWines_YannikRohrerPhotography_Images_0115.jpg?5666944921139556658">
      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/20171015_DryFarmWines_YannikRohrerPhotography_Images_0053.jpg?5666944921139556658">
      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/20171014_DryFarmWines_YannikRohrerPhotography_Images_0033.jpg?5666944921139556658">
      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/20171113_DryFarmWines_YannikRohrerPhotography_Images_0092.jpg?5666944921139556658">
      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/20171112_DryFarmWines_YannikRohrerPhotography_Images_0027.jpg?5666944921139556658">
      
      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/paleo-party-2_5532845d-a0c9-48e1-b622-d6de89247471.png?8443131737035292222">
      <img src="https://cdn.shopify.com/s/files/1/0924/9540/files/IMG_0215.JPG?8443131737035292222">
      
    </div>
    <script>
  (function() { 
        Galleria.loadTheme('https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/themes/classic/galleria.classic.min.js');
        Galleria.run('.galleria');
    }());
    </script>
  
  <div class="container">
    
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2 style="margin-bottom:5px;padding-bottom:0px;margin-top:50px;">Do you fit any of these roles?</h2>
        <p style="font-style:italic;">All details about us, our Culture Manifesto, and the role are included in those documents</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-12 text-center">
<!--         <a href="https://docs.google.com/document/d/1LTG9Vd1OcCbEsTloN6GJrZZ_TZnit97BOFhHWujc5BE/edit?usp=sharing" target="_blank" rel="noopener noreferrer">Accountant</a>
        <br /><br /> -->
        
        <a href="https://docs.google.com/document/d/1wAKq86m9FlP_d67ChjkWj9T-foDspvkuftFjpd_2DBc/edit?usp=sharing" target="_blank" rel="noopener noreferrer">Member Service Concierge</a>
        <br /><br />
        <a href="https://docs.google.com/document/d/19wrNl_yP4VgrruuHDtoGxaz4P-YMoI43FAgD_SKNRTA/edit?usp=sharing" target="_blank" rel="noopener noreferrer">Member Service Lead</a>
        <br /><br />
        <a href="https://docs.google.com/document/d/1obKj2tD2jjWzishi03qAaAQ5efmB-f5bTL0p6ShKHw8/edit?usp=sharing" target="_blank" rel="noopener noreferrer">Growth Marketer</a>
        <br /><br />        
        <a href="https://docs.google.com/document/d/1ABKGkdNRrKHb0xwPxILpmaSl5lyCYcPBk0bh2idJDbs/edit?usp=sharing" target="_blank" rel="noopener noreferrer">Project Manager &amp; Executive Assistant</a>
        <br /><br />
        <a href="https://docs.google.com/document/d/1o8XnAP5Ck-v0QxfRF0I8g2HKQ1zpANL6A0uooRfnhps/edit?usp=sharing" target="_blank" rel="noopener noreferrer">Member Recognition Alchemist</a>
        <br /><br />
<!--         <a href="https://docs.google.com/document/d/1tmvVhIOqYDz_URC0wUMocrSeaF4WHhSrWVczrvaSJXk/edit?usp=sharing" target="_blank" rel="noopener noreferrer">Wine Program Evangelist</a>
        <br /><br />
        <a href="https://docs.google.com/document/d/1RMPtCH82eQ9VRrnUOz8RtZHDAN8TrDbsqohT6HWniKw/edit?usp=sharing" target="_blank" rel="noopener noreferrer">Data Evangelist</a>
        <br /><br /> -->
        <a href="https://docs.google.com/document/d/1scqDTw-HTLnsnB0c4YveOWzUfxQHmQJpeDx557NPyow/edit?usp=sharing" target="_blank" rel="noopener noreferrer">Housekeeper &amp; Team Assistant</a>
        
      </div>
    </div>
    
    
    <div class="row" style="margin: 50px 0px;">
      <div class="col-xs-12 text-center">
        <p>We look forward to creating <span style="font-weight:900;font-style:italic;">magic</span> with you.</p>
      </div>
    </div>
        
  </div>

</div>



