{% layout 'theme.bootstrap' %}

<div id="lp-outer">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-offset-1 col-md-10">
            <h1>Here's a Surprising Paleo Secret...</h1>
            <br />
            <h3>Wine is Paleo!</h3>
            <p>At least it used to be.</p>
            <p>Natural wines that are lab-tested to be sugar-free are a healthy, Paleo alternative to today's highly-processed commercial wines.</p>
            <p>In other words, wines made the primal way aren't "cheat" foods. They're a healthy part of the Paleo lifestyle.</p>
            <p>Here's why:</p>
            
            <div class="benefit-bullet">
              <h3> <i class="fa fa-check-circle" aria-hidden="true"></i> They're Ancestral</h3>
              <div class="checkmark-description">
                  <p>Wine has been around at least since the Paleolithic time period. Evidence from that era shows that it was used for medicinal and health purposes as well as for enjoyment. </p>

                  <blockquote>"No thing more excellent nor more valuable than wine was ever granted mankind by God."- Plato, Greek philosopher, (c. 427-347 BC) </blockquote>
              </div>
            </div>
            
            <div class="benefit-bullet">
              <h3> <i class="fa fa-check-circle" aria-hidden="true"></i> They're Healthy</h3>
              <div class="checkmark-description">
                  <p>There are studies that correlate wine drinking and heart health, studies that suggest wine could lower the risk for diabetes, studies about the psychological benefits of a glass of wine in reducing stress, and, of course, the studies that correlate wine and longer life. A lot more research is needed to validate these findings, but there is no question that there is something about wine that we've always known is good for human health. </p>

                  <blockquote>"In wine there is health (In vino sanitas)" -Pliny the Elder, Roman officer and encyclopaedist, (23-79 AD) </blockquote>
              </div>
            </div>
            
            
            
            





            

            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
