/*================ Flex ================*/

.o-flex {
  box: horizontal row;
  flex-wrap: wrap;
}

.o-flexColumn {
  box: vertical column;
  flex-wrap: wrap;
}

.o-flexFlip {
  box: vertical column;
  flex-wrap: wrap;
  @media (--tablet-large) {
    box: horizontal row;
  }
}

.o-flex--start {
  justify-content: flex-start;
}

.o-flex--startCenter {
  justify-content: flex-start;
  align-items: center;
}

.o-flex--center {
  justify-content: center;
}

.o-flex--centerCenter {
  justify-content: center;
  align-items: center;
}

.o-flex--centerStart {
  justify-content: center;
  align-items: start;
}

.o-flex--end {
  justify-content: flex-end;
}

.o-flex--endCenter {
  justify-content: flex-end;
  align-items: center;
}

.o-flex--between {
  justify-content: space-between;
}

.o-flex--betweenCenter {
  justify-content: space-between;
  align-items: center;
}

.o-flex--noWrap {
  flex-wrap: nowrap;
}

.o-flex__item {
  flex: 1;
  order: 1;
}

.o-flex__item--full {
  flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
}

.o-flex__item--half {
  flex: 0 0 50%;
  max-width: 50%;
}

.o-flex__item--fullToHalf {
  flex: 0 0 100%;
  width: 100%;
  @media (--tablet-large) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.o-flex__item--third {
  flex: 0 0 33.333%;
  max-width: 33.333%;
}

.o-flex__item--fullToThird {
  flex: 0 0 100%;
  width: 100%;
  @media (--tablet-large) {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

.o-flex__item--fullToTwoThirds {
  flex: 0 0 100%;
  width: 100%;
  @media (--tablet-large) {
    flex: 0 0 66.666%;
    max-width: 66.666%;
  }
}

.o-flex__item--fullToHalfToThird {
  flex: 0 0 100%;
  width: 100%;
  @media (--tablet) {
    flex: 0 0 50%;
    max-width: 50%;
  }
  @media (--tablet-large) {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

.o-flex__item--fullToOneThird {
  flex: 0 0 100%;
  width: 100%;
  @media (--tablet-large) {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

.o-flex__item--fullToTwoThirds {
  flex: 0 0 100%;
  width: 100%;
  @media (--tablet-large) {
    flex: 0 0 66.666%;
    max-width: 66.666%;
  }
}

.o-flex__item--fullToOneFourth {
  flex: 0 0 100%;
  width: 100%;
  @media (--tablet-large) {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.o-flex__item--fullToThreeFourths {
  flex: 0 0 100%;
  width: 100%;
  @media (--tablet-large) {
    flex: 0 0 75%;
    max-width: 75%;
  }
}
